<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="lobHandler" lazy-init="true"
		class="org.springframework.jdbc.support.lob.DefaultLobHandler" />
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml">
		</property>
		<property name="lobHandler" ref="lobHandler" />
	</bean>

	<import resource="applicationContext-util.xml" />
	<import resource="applicationContext-client.xml" />

	<!-- DAO -->
	<bean id="managersDAO" class="com.wuye.dao.impl.ManagersDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="userDAO" class="com.wuye.dao.impl.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="houseDAO" class="com.wuye.dao.impl.HouseDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="menuDAO" class="com.wuye.dao.impl.MenuDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="permissionsDAO" class="com.wuye.dao.impl.PermissionsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- Service -->
	<bean id="managersService" class="com.wuye.service.impl.ManagersService"
		scope="singleton">
		<property name="managersDAO">
			<ref bean="managersDAO" />
		</property>
	</bean>
	<bean id="userService" class="com.wuye.service.impl.UserService"
		scope="singleton">
		<property name="userDAO">
			<ref bean="userDAO" />
		</property>
	</bean>
	<bean id="houseService" class="com.wuye.service.impl.HouseService" scope="singleton">
		<property name="houseDAO">
			<ref bean="houseDAO"/>
		</property>
	</bean>
	<bean id="menuService" class="com.wuye.service.impl.MenuService"
		scope="singleton">
		<property name="menuDAO">
			<ref bean="menuDAO" />
		</property>
	</bean>
	<bean id="permissionsService" class="com.wuye.service.impl.PermissionsService">
		<property name="permissionsDAO">
			<ref bean="permissionsDAO" />
		</property>
	</bean>

	<!-- Action -->
	<bean id="loginAction" class="com.wuye.action.LoginAction" scope="prototype">
		<property name="managersService">
			<ref bean="managersService" />
		</property>
	</bean>
	<bean id="managersAction" class="com.wuye.action.ManagersAction"
		scope="prototype">
		<property name="managersService">
			<ref bean="managersService" />
		</property>
	</bean>
	<bean id="userAction" class="com.wuye.action.UserAction" scope="prototype">
		<property name="userService">
			<ref bean="userService" />
		</property>
		<property name="houseService">
			<ref bean="houseService"/>
		</property>
	</bean>
	<bean id="houseAction" class="com.wuye.action.HouseAction">
		<property name="houseService">
			<ref bean="houseService"/>
		</property>
	</bean>
	<bean id="menuAction" class="com.wuye.action.MenuAction" scope="prototype">
		<property name="menuService">
			<ref bean="menuService" />
		</property>
	</bean>
	
</beans>